0.1/xsd/external/BRIS-XSDs-1.2.0/xsd/bris/br/BR-CrossBorderMergerReceptionNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
	xmlns="http://ec.europa.eu/bris/v1_2/br/CrossBorderMergerReceptionNotification"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:brcc="http://ec.europa.eu/bris/v1_2/br/CommonComponents"
	xmlns:bbc="http://ec.europa.eu/bris/v1_2/common/BasicComponents"
	xmlns:bac="http://ec.europa.eu/bris/v1_2/common/AggregateComponents"
	targetNamespace="http://ec.europa.eu/bris/v1_2/br/CrossBorderMergerReceptionNotification"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.2.0">

	<xsd:import
		namespace="http://ec.europa.eu/bris/v1_2/br/CommonComponents"
		schemaLocation="BR-CommonComponents.xsd" />
	<xsd:import
		namespace="http://ec.europa.eu/bris/v1_2/common/BasicComponents"
		schemaLocation="../../common/BRIS-BasicComponents.xsd" />
	<xsd:import
		namespace="http://ec.europa.eu/bris/v1_2/common/AggregateComponents"
		schemaLocation="../../common/BRIS-AggregateComponents.xsd" />

	<xsd:element name="BR-CrossBorderMergerReceptionNotification">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="brcc:BRMessageObjectType">
					<xsd:sequence>
						<xsd:element ref="bac:RecipientOrganisation" />
						<xsd:element ref="bbc:Merger" />
						<xsd:element ref="bac:NotificationContext" />
						<xsd:element name="MergingCompany" type="bac:NotificationCompanyType"
							minOccurs="1" maxOccurs="unbounded" />
						<xsd:element name="ResultingCompany" type="bac:NotificationCompanyType"
							minOccurs="1" />
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="BR-CrossBorderMergerReceptionNotificationAcknowledgement">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="brcc:BRMessageObjectType">
					<xsd:sequence>
						<xsd:element ref="bbc:ReceivingDateTime" />
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
