0.1/xsd/common/core/pdc-AggregatedComponents-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/0.1/ns/pdc"
	xmlns="http://e-documents.semic.eu/publicdocuments/0.1/ns/pdc"
	xmlns:cec="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents"	
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="0.1">
	<xs:annotation>	
		<xs:documentation xml:lang="en">
	        Public Documents XML schema 0.1
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xs:documentation>
	</xs:annotation>
	<!-- ===== Imports======================================== -->
	<xs:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents"
			   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-AggregateComponents-1.1.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
			   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-BasicComponents-1.1.xsd"/>
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xs:complexType name="AbsenceOfCriminalRecordPersonType">
		<xs:annotation>
		    <xs:documentation>
			This class contains elements related to the absence of a criminal record for a person.
		    </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
				<xs:restriction base="PersonType">
				<xs:sequence>
					<xs:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
						    <xs:documentation>
								This property contains the surname (i.e. last name or family name) of the person.
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
						    <xs:documentation>
								This property contains the forename (i.e. the first name or given name) of the person. 
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
						<xs:annotation>
						    <xs:documentation>
								This property contains the date of birth of the person.
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
					
					<xs:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
					
					<xs:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
					
					<xs:element name="Nationality" type="cva:JurisdictionType" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xs:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
						    <xs:documentation>
								This property contains the previous surname(s) of the person.
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					
					
					<xs:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
						    <xs:documentation>
								This property contains the previous forename(s) of the person.
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					
					
					
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="AddressType">
		<xs:annotation>
		    <xs:documentation>
			This class contains elements related to an address.
					<!-- Dependency Address->Address -->
					Stereotype cvABIE
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StreetPOBox" type="cvb:AddressThoroughfareType" minOccurs="1" maxOccurs="1" >
				<xs:annotation>
				    <xs:documentation>
						This property contains contains the Street PO Box details of the address.
				
				    </xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="Place" type="cvb:AddressPostNameType" minOccurs="1" maxOccurs="1" >
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    			This property contains the location specification of the address.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    </xs:element>
				
				    
				
				    <xs:element name="Country" type="cvb:AddressAdminUnitLocationOneType" minOccurs="1" maxOccurs="1" >
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    			This property contains the name of the country.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    </xs:element>
				
				    
				
				    <xs:element name="PostalCode" type="cvb:AddressPostNameType" minOccurs="1" maxOccurs="1" >
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    			This property contains the postal code of the address
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    </xs:element>
				
				    
				
				    
		</xs:sequence>
		
	</xs:complexType>
	
	
	<xs:complexType name="AuthorityType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to the designation of an authority.
				
				    				<!-- Dependency Authority->LegalEntity -->
				
				    				Stereotype cvABIE
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:sequence>
				
				    		<xs:element name="Designation" type="cvb:LegalEntityLegalNameType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					This property contains the designation of the authority.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    	</xs:sequence>
				
				    	
				
				    </xs:complexType>
				
				    
				
				    
	<xs:complexType name="BirthPersonType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to the birth of a person.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:complexContent>
				
				    			<xs:restriction base="PersonType">
				
				    			<xs:sequence>
				
				    				<xs:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the person's surname.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the forename (first name or given name) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    			</xs:sequence>
				
				    		</xs:restriction>
				
				    	</xs:complexContent>
				
				    </xs:complexType>
				
				    
	<xs:complexType name="CanMarryType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to the capacity to marry of a person.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:sequence>
				
				    		<xs:element name="HasCapacityToMarry" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					The person concerned has the capacity to marry under the national law of the Member State where the public document is issued.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    		
				
				    		<xs:element name="AppearsToHaveNoMarriage" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					The person concerned appears to have no marriage in his or her name under the national law of the Member State where the public document is issued.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    		
				
				    		<xs:element name="NoKnownImpediment" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					There is no known impediment for the person concerned to marry under the national law of the Member State where the public document is issued.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    		
				
				    		<xs:element name="NoKnownImpedimentIntendedSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					There is no known impediment to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    		
				
				    		<xs:element name="NoOppositionknown" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					There is no opposition known to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    		
				
				    		
				
				    	</xs:sequence>
				
				    	
				
				    </xs:complexType>
				
				    
				
				    
	<xs:complexType name="CapacityToMarryOrEnterRegisteredPartnershipPersonType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to the capacity to marry or enter into a registered partnership of a person.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:complexContent>
				
				    			<xs:restriction base="PersonType">
				
				    			<xs:sequence>
				
				    				<xs:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the surname (i.e. the last name or family name) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the forename (i.e. the first name or given name) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="Nationality" type="cva:JurisdictionType" minOccurs="0" maxOccurs="unbounded"/>
				
				    				
				
				    				
				
				    				
				
				    			</xs:sequence>
				
				    		</xs:restriction>
				
				    	</xs:complexContent>
				
				    </xs:complexType>
				
				    
	<xs:complexType name="CountryType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to a country.
				
				    				<!-- Dependency Country->Location -->
				
				    				Stereotype cvABIE
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:sequence>
				
				    		<xs:element name="Code" type="cvb:LocationGeographicIDType" minOccurs="0" maxOccurs="1"/>
				
				    		
				
				    		<xs:element name="Name" type="cvb:LocationGeographicNameType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					This property contains the name of the country.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    	</xs:sequence>
				
				    	
				
				    </xs:complexType>
				
				    
				
				    
	
	<xs:complexType name="DeathPersonType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to the death of a person.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:complexContent>
				
				    			<xs:restriction base="PersonType">
				
				    			<xs:sequence>
				
				    				<xs:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the surname (i.e. the last name or family name) of the person. 
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the forename (i.e. the first name or given name) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="DateOfDeath" type="cvb:PersonDeathDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the date of death of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="PlaceOfDeath" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="CountryOfDeath" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    			</xs:sequence>
				
				    		</xs:restriction>
				
				    	</xs:complexContent>
				
				    </xs:complexType>
				
				    
	<xs:complexType name="MaritalOrRegisteredPartnershipStatusPersonType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to the marital or registered partnership status of a person.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:complexContent>
				
				    			<xs:restriction base="PersonType">
				
				    			<xs:sequence>
				
				    				<xs:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the surname (i.e. the last name or family name) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="SurnameAtBirth" type="cvb:PersonBirthNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the person's surname at the time of his/her birth.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="0" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the person's forename (i.e. first name or given name).
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the person's date of birth.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="Nationality" type="cva:JurisdictionType" minOccurs="1" maxOccurs="unbounded"/>
				
				    				
				
				    				
				
				    				<xs:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the previous surname of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				
				
				    				
				
				    				<xs:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the future surname of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				
				
				    				
				
				    				
				
				    			</xs:sequence>
				
				    		</xs:restriction>
				
				    	</xs:complexContent>
				
				    </xs:complexType>
				
				    
	
				
				    
	<xs:complexType name="MarriageOrRegisteredPartnershipPersonType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to the marriage or registered partnership of a person.
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:complexContent>
				
				    			<xs:restriction base="PersonType">
				
				    			<xs:sequence>
				
				    				<xs:element name="SurnameAtBirth" type="cvb:PersonBirthNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the surname of the person at the time of his/her birth.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the forename (i.e. the first name or given name) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				<xs:element name="SurnameBefore" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the previous surname(s) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				
				
				    				
				
				    				<xs:element name="SurnameAfter" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							This property contains the future surname(s) of the person.
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				
				
				    				
				
				    				
				
				    			</xs:sequence>
				
				    		</xs:restriction>
				
				    	</xs:complexContent>
				
				    </xs:complexType>
				
				    
	<xs:complexType name="NationalityType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to a nationality.
				
				    				<!-- Dependency Nationality->Jurisdiction -->
				
				    				Stereotype cvABIE
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:sequence>
				
				    		<xs:element name="Name" type="cvb:JurisdictionNameType" minOccurs="1" maxOccurs="1" >
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					This property contains the name of the nationality.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		
				
				    	</xs:sequence>
				
				    	
				
				    </xs:complexType>
				
				    
				
				    
	
				
				    
	
				
				    
	<xs:complexType name="OfficialType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:complexContent>
				
				    			<xs:restriction base="PersonType">
				
				    			<xs:sequence>
				
				    				<xs:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							cvb:PersonFamilyName
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xs:annotation>
				
				    					    <xs:documentation>
				
				    							cvb:PersonGivenName
				
				    					    </xs:documentation>
				
				    					</xs:annotation>
				
				    				</xs:element>
				
				    				
				
				    				
				
				    			</xs:sequence>
				
				    		</xs:restriction>
				
				    	</xs:complexContent>
				
				    </xs:complexType>
				
				    
	<xs:complexType name="PersonType">
				
				    	<xs:annotation>
				
				    	    <xs:documentation>
				
				    		This class contains elements related to a person.
				
				    				<!-- Dependency Person->Person -->
				
				    				Stereotype cvABIE
				
				    	    </xs:documentation>
				
				    	</xs:annotation>
				
				    	<xs:sequence>
				
				    		<xs:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="0" maxOccurs="unbounded">
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					This property contains the person's last name.
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		<xs:element name="SurnameAtBirth" type="cvb:PersonBirthNameType" minOccurs="0" maxOccurs="unbounded">
				
				    			<xs:annotation>
				
				    			    <xs:documentation>
				
				    					This property contains the person's last name at the time of his/her birth.
				
				    			
				
				    			    </xs:documentation>
				
				    			</xs:annotation>
				
				    		</xs:element>
				
				    		
				
				    		<xs:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	<xs:annotation>
				
				    			
				
				    			    	    <xs:documentation>
				
				    			
				
				    			    			This property contains the person's first name or given name.
				
				    			
				
				    			    	    </xs:documentation>
				
				    			
				
				    			    	</xs:annotation>
				
				    			
				
				    			    </xs:element>
				
				    			
				
				    			    
				
				    			
				
				    			    <xs:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="0" maxOccurs="1" >
				
				    			
				
				    			    	<xs:annotation>
				
				    			
				
				    			    	    <xs:documentation>
				
				    			
				
				    			    			This property contains the person's date of birth.
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xs:documentation>
				
				    			
				
				    			    	</xs:annotation>
				
				    			
				
				    			    </xs:element>
				
				    			
				
				    			    
				
				    			
				
				    			    <xs:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="DateOfDeath" type="cvb:PersonDeathDateType" minOccurs="0" maxOccurs="1" >
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the person's date of death (if applicable).
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xs:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="PlaceOfDeath" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="CountryOfDeath" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="Nationality" type="cva:JurisdictionType" minOccurs="0" maxOccurs="unbounded"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="Domicile" type="AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="Residence" type="AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the past surname of the person (if applicable)
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xs:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the future surname of the person (if applicable)
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xs:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the previous surname of the person (if applicable)
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xs:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xs:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	<xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    <xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			This property contains the previous forename (first name) of the person (if applicable). 
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    </xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	</xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xs:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    	</xs:sequence>
				
				    	
				
				    </xs:complexType>
				
				    
				
				    
	<xs:complexType name="PlaceType">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	<xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    <xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		This class contains elements related to a place.
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    				<!-- Dependency Place->Location -->
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    				Stereotype cvABIE
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    </xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	</xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	<xs:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		<xs:element name="Name" type="cvb:LocationGeographicNameType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			<xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			    <xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    					This property contains the name of the place (geographic location).
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			    </xs:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			</xs:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		</xs:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	</xs:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xs:complexType>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
	
	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
	
</xs:schema>
