1.0/xsd/ms/formSpain-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1.0/ns/forms/spain#"
	xmlns="http://data.europa.eu/edm/1.0/ns/forms/spain#"
	xmlns:pdc="http://data.europa.eu/edm/1.0/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype absenceOfCriminalRecordForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:AbsenceOfCriminalRecordPersonType">
				<xsd:sequence>
					<xsd:element name="PassportNumber" type="forms:IDTypeAndNoChoiceType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the birth of a person.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="BirthPersonType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:BirthPersonType">
				<xsd:sequence>
					<xsd:element name="TimeOfBirth" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MarriageOfParents" type="forms:MarriageType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:CapacityToMarryType">
				<xsd:sequence>
					<xsd:element name="CertificateValidity" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="DeathPersonType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:DeathPersonType">
				<xsd:sequence>
					<xsd:element name="LastDomicile" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="TimeOfDeath" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PlaceOfBurial" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:DocumentInfoType">
				<xsd:sequence>
					<xsd:element name="CivilRegisterEntryVolumePage" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RefNoAuthenticInstrument" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentKindChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype commonPart
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="VerbatimCopyOfCriminalRecord" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FormHeaderType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:FormHeaderType">
				<xsd:sequence>
					<xsd:element name="MinistryOfJustice" type="pdc:AuthorityType" minOccurs="0" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FrmAbsenceOfCriminalRecordSpainType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype absenceOfCriminalRecordForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="forms:AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmBirthSpainType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="forms:FormHeaderType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class Birth.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmCapacityToMarrySpainType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmDeathSpainType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="forms:FormHeaderType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property relates to the class Death.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmLifeSpainType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form Life.
					Stereotype lifeForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="forms:FormHeaderType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Body" type="forms:LifeType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmMaritalStatusSpainType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="forms:MaritalStatusType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmMarriageSpainType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:MarriageType">
				<xsd:sequence>
					<xsd:element name="TimeOfMarriage" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="ForenameSurnameParentsFather" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ForenameSurnameParentsMother" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParentsType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="PlaceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype cvABIE
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Country" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Province" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	</xsd:schema>
