1.0/xsd/ms/formCzechRepublic-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1.0/ns/forms/czechrepublic#"
	xmlns="http://data.europa.eu/edm/1.0/ns/forms/czechrepublic#"
	xmlns:pdc="http://data.europa.eu/edm/1.0/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the birth of a person.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:BirthType">
				<xsd:sequence>
					<xsd:element name="Person" type="BirthPersonType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property refers to the class BirthPerson.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:BirthPersonType">
				<xsd:sequence>
					<xsd:element name="DataOnParents" type="ParentsType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PersonaldentificationNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToEnterRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to a person's capacity to enter into a registered partnership.
					Stereotype capacityToEnterRegisteredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:CapacityToEnterRegisteredPartnershipType">
				<xsd:sequence>
					<xsd:element name="Validity" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:CapacityToMarryType">
				<xsd:sequence>
					<xsd:element name="Validity" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeathType"/>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to information about a document.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:DocumentInfoType">
				<xsd:sequence>
					<xsd:element name="Note" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FormHeaderType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form header of a form.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class DocumentInfo. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SignatureInfo" type="forms:SignatureInfoType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains the title of the form, corresponding to the main subject or life area covered in the form. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ImportantNotice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains a notice on the purpose of the form. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoteForTheIssuingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains a note for the issuing authority regarding which information is to be mentioned. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmBirthCzechRepublicType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form Birth.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class FormHeader.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This class refers to the class Birth.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmCapacityToEnterIntoRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the form Capacity to Enter into Registered Partnership.
					Stereotype capacityToEnterRegisteredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class FormHeader.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="CapacityToEnterRegisteredPartnershipType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class CapacityToEnterRegisteredPartnership.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmCapacityToMarryCzechRepublicType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form Capacity to Marry.
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class FormHeader.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class CapacityToMarry.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmDeathCzechRepublicType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form Death
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class FormHeader.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" minOccurs="1" maxOccurs="1" type="DeathType">
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmMarriageCzechRepublicType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form Marriage.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class FormHeader.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class Marriage.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FrmRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form Registered Partnership.
					Stereotype registeredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class FormHeader.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Body" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipType">
			</xsd:element>
			<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property can contain any type of information. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to a marriage.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:MarriageType">
				<xsd:sequence>
					<xsd:element name="SurnameAgreement" type="SurnameAgreementType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotMarriedChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains the possible choices for the marital status of a person that is not married.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="TerminatedPartnership" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ParentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the parent of a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParentsType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the parents of a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person.
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="PersonalIdentificationNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DataOnParents" type="ParentsType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CivilStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="SpouseOrPartner" type="PersonType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipType"/>
	<xsd:complexType name="SurnameAgreementType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the surname agreement in the context of a marriage.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Husband" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Wife" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Children" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	</xsd:schema>
