1.0/xsd/ms/formFrance-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1.0/ns/forms/france#"
	xmlns="http://data.europa.eu/edm/1.0/ns/forms/france#"
	xmlns:pdc="http://data.europa.eu/edm/1.0/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:AbsenceOfCriminalRecordType">
				<xsd:sequence>
					<xsd:element name="PublicDocumentVerificationWebsite" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the URL of the public document verification website.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:BirthType">
				<xsd:sequence>
					<xsd:element name="KeyReferences" minOccurs="1" maxOccurs="1" type="KeyReferencesChoiceType">
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:BirthPersonType">
				<xsd:sequence>
					<xsd:element name="DeclaredByOther" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="DeclaredByParent" minOccurs="1" maxOccurs="1" type="DeclaredByParentChoiceType">
					</xsd:element>
					<xsd:element name="BirthTime" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the time of birth of the person concerned by the form.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:CapacityToMarryType">
				<xsd:sequence>
					<xsd:element name="MarriagePublished" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the boolean value of whether there is a marriage published concerning the person concerned by the form. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AdditionalInformation" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This form contains additional information. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConsentNeededChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of whether consent is needed.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="ConsentNeeded" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class ConsentNeeded.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoConsentNeeded" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This class relates to the class NoConsentNeeded.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DeathDeclarerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the person declaring a death. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="RelationshipToDeceased" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This class contains information about the relationship to the deceased of the person declaring the death. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:DeathPersonType">
				<xsd:sequence>
					<xsd:element name="FormerSpouseOrPartner" minOccurs="1" maxOccurs="1" type="FormerSpouseOrPartnerChoiceType">
					</xsd:element>
					<xsd:element name="TimeOfDeath" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the time of death of the person concerned by the form. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeclaredByParentChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of which parent declared the person concerned by the form.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="DeclaredByFather" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class DeclaredByFather.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeclaredByMother" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class DeclaredByMother.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeclaredByFatherAndMother" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property relates to the class DeclaredByFatherAndMother.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DivorceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="DivorcePerson" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DivorceDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NatureOfDivorceDecision" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DivorceAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:DocumentInfoType">
				<xsd:sequence>
					<xsd:element name="DateOfDecision" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the date the decision mentioned in the form was taken. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CertificateOfficial" type="pdc:OfficialType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="DateOfAuthorisation" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the date when an authorisation was given. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NatureOfDecision" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the nature of the decision mentioned in the form.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AuthorisationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="OtherMentions" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains other mentions. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IssueTime" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the time of issue of the form.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DecisionAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the former spouse or partner of the person concerned by the form. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="FormerSpouseOrPartner" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of whether the person concerned by the form has a former spouse or partner.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="FormerSpouseOrPartner" type="FormerSpouseOrPartnerType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoFormerOrPartnerSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property relates to the class NoFormerSpouseOrPartner.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="KeyReferencesChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of marital status.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="Marriage" type="forms:MarriageType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Divorce" type="DivorceType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LegalSeparation" type="LegalSeparationType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisteredPartnershipChange" type="RegisteredPartnershipChangeType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MarriageAnnulment" type="MarriageAnnulmentType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="LegalSeparationType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="SeparationPerson" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SeparationDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NatureOfSeparationDecision" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RulingCourt" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="LifeType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:LifeType">
				<xsd:sequence>
					<xsd:element name="PersonAppearedBeforeAuthority" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the boolean value of whether the person concerned by the form appeared in front of an authority. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PresentedID" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the boolean value of whether the person concerned by the form presented an ID.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:MarriageType">
				<xsd:sequence>
					<xsd:element name="FourthWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="FirstWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="DeclarationOfSpousalAndUnionPronouncement" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the boolean value of whether a declaration of spousal and union pronouncement exists.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SecondWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="ThirdWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="MarriageContractDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the date of the marriage contract. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MarriageContractNotaryPlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageAnnulmentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="AnnulmentDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NatureOfAnnulmentDecision" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RulingCourt" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MarriageOrRegisteredPartnershipPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:MaritalOrRegisteredPartnershipStatusPersonType">
				<xsd:sequence>
					<xsd:element name="FormerSpouseOrPartner" minOccurs="1" maxOccurs="1" type="FormerSpouseOrPartnerChoiceType">
					</xsd:element>
					<xsd:element name="ConsentNeededForConcernedPerson" minOccurs="1" maxOccurs="1" type="ConsentNeededChoiceType">
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="Father" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="Mother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="AdoptiveParent" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="Profession" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Age" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="DateOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains the date of modification of a registered partnership. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfEntryIntoEffectOfDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains the date of entry into effect of the dissolution of the registered partnership. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonForDissolution" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipDissolutionChoiceType">
			</xsd:element>
			<xsd:element name="DateOfEntryIntoEffectOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains the date of entry into effect of the modification of the registered partnership. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfPartnershipDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains the date of dissolution of the registered partnership. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipChangeType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="RegisteredPartnershipChangeDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisteredPartnershipChangePlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="RulingCourt" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="RegisteredPartnershipChange" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipChangeChoiceType">
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipChangeChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of types of change of registered partnership.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="RegisteredPartnershipModification" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property relates to the class RegisteredPartnershipModification.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisteredPartnershipDissolution" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipDissolutionChoiceType">
			</xsd:element>
			<xsd:element name="RegisteredPartnershipAnnulment" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class RegisteredPartnershipAnnulment.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipDissolutionChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of how the registered partnership of the person concerned by the form was dissolved.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="RegisteredPartnershipDissolvedByDeath" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property relates to the class RegisteredPartnershipDissolvedByDeath.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisteredPartnershipDissolvedByMarriage" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property refers to the class RegisteredPartnershipDissolvedByMarriage.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisteredPartnershipDissolvedByRequest" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property relates to the class RegisteredPartnershipDissolvedByRequest.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SignatureInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		
		<xsd:complexContent>
			<xsd:extension base="forms:SignatureInfoType">
				<xsd:sequence>
					<xsd:element name="SignaturePlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	</xsd:schema>
