1.0/xsd/ms/formFinland/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1.0/ns/forms/finland#"
	xmlns="http://data.europa.eu/edm/1.0/ns/forms/finland#"
	xmlns:pdc="http://data.europa.eu/edm/1.0/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/forms"
			   schemaLocation="../../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="MaritalOrRegisteredPartnershipStatusPersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="pdc:MarriageOrRegisteredPartnershipPersonType">
			<xsd:sequence>
				<xsd:element name="MaritalOrRegisteredPartnershipStatus" minOccurs="1" maxOccurs="1" type="NotMarriedChoiceType">
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DocumentInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="forms:DocumentInfoType">
			<xsd:sequence>
				<xsd:element name="LocalRegistryAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="RegistrationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="CapacityToMarryOrEnterRegisteredPartnershipPersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType">
			<xsd:sequence>
				<xsd:element name="SurnameLastUsedBeforeFirstMarriage" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PersonalIdentificationNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MarriageNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CivilStatus" minOccurs="1" maxOccurs="1" type="NotMarriedChoiceType">
				</xsd:element>
				<xsd:element name="InfoReligiousWedding" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ForeignIntendedSpouseType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="CapacityToMarryOrEnterRegisteredPartnershipPersonType">
	
	<xsd:complexContent>
		<xsd:extension base="PersonType">
			<xsd:sequence>
				<xsd:element name="Nationality" type="pdc:NationalityType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="MotherTongue" type="xsd:language" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CountryOfResidence" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="PersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype cvABIE
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
				<xsd:element name="PlaceOfDeath" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="DateOfDeath" type="udt:DateType" minOccurs="0" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							This property contains the person's date of death (if applicable).
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Surname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							This property contains the person's last name.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="Forename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							This property contains the person's first name or given name.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="PersonalInfoDisclosureForbidden" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TemporaryAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="NameNormallyUsed" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SurnameAtBirth" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							This property contains the person's last name at the time of his/her birth.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="IsLiving" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MainResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="MotherTongue" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PostalAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="MotherType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="PersonType">
			<xsd:sequence>
				<xsd:element name="MotherSurname" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MotherForename" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MotherDateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MotherIdentityAscertained" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MaternityHospital" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FormHeaderType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="forms:FormHeaderType">
			<xsd:sequence>
				<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="NotMarriedChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
		<xsd:element name="DivorcedFromRegisteredPartnershipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="WidowedFromRegisteredPartnershipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="CapacityToMarryType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="forms:CapacityToMarryType">
			<xsd:sequence>
				<xsd:element name="ForeignIntendedSpouse" minOccurs="1" maxOccurs="1" type="ForeignIntendedSpouseChoiceType">
				</xsd:element>
				<xsd:element name="IntendedSpouseA" type="CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IntendedSpouseB" type="CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ExaminationOfImpediments" type="ExaminationOfImpedimentsToMarriageType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
